# Neon Pooled Connection (e.g. postgres://...-pooler.neon.tech/...)
DATABASE_URL="postgresql://user:password@localhost:5432/watchtogether?schema=public"
# Neon Direct Connection (e.g. postgres://....neon.tech/...)
DIRECT_URL="postgresql://user:password@localhost:5432/watchtogether?schema=public"
JWT_SECRET="generate_a_secure_random_string_here"
PORT=5000
